.main{
  height: 2000px;
  display: flex;
}






.leftList{
  /* border: 5px solid pink; */
  width: 230px;
  display: inline-block;
  justify-content: center;
  margin-left: 250px;
  margin-top: 30px;
}
.leftListTop{
  display: inline-block;
  justify-content: center;
  border: 5px solid rgb(18, 31, 213);
}
.memberPicOut{
  width: 100%;
  /* border: 5px solid rgb(227, 72, 20); */
  display: flex;
  justify-content: center;
}
.memberPic{
  width: 140px;
  height: 140px;
  border-radius: 100px;  
  /*border: 5px solid rgb(237, 10, 48); */

}
.memberItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #CA9145;
}
.name{
  color: #845F2D;
  font-weight: 600;
}
.nowLocationOut{
  color: #CA9145;
  background-color: #F6E7D0;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; */
}
.nowLocation{
  /* display: flex;
 align-items: center; */
}
.iconsOut{
  display: flex;
  justify-content: center;

}
.icons{
  /* width: 150px; */
  text-decoration: none;
  padding-right: 20px;
}
.icon{
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px ;
}
.icon:hover {
  background-color: #F8723F;
  border-radius: 10px;
}
.iconSick{
  width:15px;
  height: 15px; 
  /* padding: 20px; */
  color: #FFB44F;
  margin-right: 5px;
}
.iconSick:hover {
  color:white
}
.iconLink{
  text-decoration: none;
  font-size: 20px;
}

/* 為了那個hover */
.iconLink:hover {
  color:white
}

.iconLink:hover .iconSick{
  color:white
}
.icon:hover .iconSick{
  color:white
}
.icon:hover .iconLink{
  color: white;
}
/* 為了那個hover */






.article{
  /* border: 1px solid #1fcb1f; */
  /* width: 600px; */
  margin-top: 30px;
  margin-left: 50px;
}


.articleCard{
  width: 640px;
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  padding-bottom: 50px;
  border: #F6E7D0 1px solid;
  border-radius: 10px 10px 0 0 ;
  box-shadow:1px 1px 3px 0px gray;
  margin-bottom: 3px;
  /* 為了按讚留言收藏 */
  position: relative;
  /* 為了按讚留言收藏 */

}
.articleCard:hover{
background-color: #FFF6F6;
}

.articleCategory{
  color: #CA9145;
  background-color: #F6E7D0;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
}

.articleCardWriter{
  font-size: 20px;
  font-weight: normal;
  margin-right: 10px;
  margin-left: 10px;
}
.articleCardTime{

}
.articleCardWrAndTime{
  display: flex;
  /* border: #1fcb1f 2px solid; */
  align-items: center;
  margin-bottom: 10px;
}


.articleCardContent{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
}
.articleCardLCS{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 40px;
  margin-bottom: 10px;
  /* border: #F8723F 2px solid; */
  
}
.like{
  width: 16px;
  height: 16px;
  margin-right: 7px;
}
.chat{
  width: 16px;
  height: 16px;
  margin-right: 7px;
  margin-left: 25px;
}

.save{
  width: 16px;
  height: 16px;
  margin-right: 7px;
  margin-left: 25px;

}



/* 留言的部分 *//* 留言的部分 *//* 留言的部分 */
.comment{
  border: #F6E7D0 2px solid;
  display: flex;

}
.commentPic{
  margin: 10px;
  margin-left: 40px;
}

.commentRight{
  margin: 10px;
}
.commentTime{
  color: #A7A0A0;
}
.commentName{
  color: #A7A0A0;

}
.commentLandN{
  display: flex;
}
.commentLikeNum{
  color: #A7A0A0;
  margin-left: 5px;
}

/* 留言的部分 *//* 留言的部分 *//* 留言的部分 */