.main{
  height: 1000px;
  display: flex;
}
.leftList{
  /* border: 5px solid pink; */
  width: 230px;
  display: inline-block;
  justify-content: center;
  margin-left: 250px;
  margin-top: 30px;
}
.leftListTop{
  display: inline-block;
  justify-content: center;
}
.memberPicOut{
  width: 100%;
  /* border: 5px solid rgb(227, 72, 20); */
  display: flex;
  justify-content: center;
}

.memberPic{
  width: 140px;
  height: 140px;
  border-radius: 100px;  
}

.memberItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #CA9145;
}

.name{
  color: #845F2D;
  font-weight: 600;
}

.nowLocationOut{
  color: #CA9145;
  background-color: #F6E7D0;
  border-radius: 10px;
}

.iconsOut{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.icons{
  /* width: 150px; */
  text-decoration: none;
  /* padding-right: 10px; */
}
.icon{
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px ;
}
.icon:hover {
  background-color: #F8723F;
  border-radius: 10px;
}
.iconSick{
  width:15px;
  height: 15px; 
  /* padding: 20px; */
  color: #FFB44F;
  margin-right: 5px;
}
.iconSick:hover {
  color:white
}

.iconLink{
  text-decoration: none;
  font-size: 20px;
}

.iconLink1{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.iconSick1{
  width:15px;
  height: 15px; 
  /* padding: 20px; */
  color: #ffffff;
  margin-right: 5px;
}


.icon1{
  border: 1px ;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  background-color: #F8723F ;
  color: white;
}

/* 為了那個hover */
.iconLink:hover {
  color:white;
  
}

.iconLink:hover .iconSick{
  color:white;
  
}
.icon:hover .iconSick{
  color:white;
  
}
.icon:hover .iconLink{
  color:white;
  
}
/* 為了那個hover */

.mypetList{
  width: 100%;
  display: inline-flex;  
  margin-bottom: 20px;
}

.petCard{
  width: 80px;
  height: 100px;
  border-radius: 20px;  
}
.petList{
  width:100px;
  height:50px;
  line-height:50px;
  padding:10px;
  color:#401E11;
  border-radius: 10px; 
}

.myBody{
  width: 70%;
  padding-top: 30px;
  text-align: center;  
  }

  .myBody1{
    text-align: center;  
    }

  .myBodylist{
    display: flex;
    padding-right: 15%;
    flex-direction: column;
    align-items: center;  
    }

    .input{
      color: #401E11;
      width: 10%;
      border: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }
    .input1{
      color: #401E11;
      width: 180px;
      border: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }
    .calcuation{
      background-color: #ffffff;
      border-radius: 50px;
      color: #401E11;
      width: 200px;      
      border: 1px solid #FFB44F;
      padding: 8px 8.5px;
      text-align: right; 
    }

  .petPicOut{
    width: 100%;
    /* border: 5px solid rgb(227, 72, 20); */
    display: flex;
    justify-content: center;
  }
  

  .img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    
  }
  
  .petCard{
    width: 100%;
    height: 100%;
    border-radius: 20px;  
    object-fit:cover;
    
  }

  .petPic{
    width: 90px;
    height: 90px;
    border-radius: 100px;  
  }

  .petname{
    color: #F8723F;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 0 #FFB44F;
  }

  .titleline{
    color: #401E11;
    text-decoration: none; 
  }

  .center{
    color:#401E11;
    text-align: center;
    
  }
