.header{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
}
.container{
    display: flex;
    background-color: #ffb44f;
    justify-content: space-around;
    width: 100%;
    /* align-items:end; */
    height: 90px;
}
.logo{
    /* background-color: #16d529; */
    width: 130px;
    height: 80px;
    align-items: center;
}
.logoOut{
    display: flex;
    align-items: center;
}
.headerMiddle{
    /* border: 2px solid rgb(55, 0, 255); */
    display: flex;
    align-items: center;
    text-align: center;
}
.headerMiddleItem{
    color: black;
    font-size: 28px;
    text-decoration: none;
    margin:0 40px;
}
.headerMiddleItem:hover{
    color: white;
    border-bottom: 1px solid white;
}
.headerRight{
    /* border: 2px solid rgb(255, 0, 102);  */
    display: flex;
    align-items: center;
}
.headerRightIcon{
    padding: 0 10px;
    font-size: 20px;
    color: white;
}
.headerRightIconLink{
    color: white;
}

.test{
    background-color: #ffb44f;
    color: white;
font-size: 30px;
}
