@charset "UTF-8";
/* cart */
.check-out {
  margin: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border: 5px solid sandybrown;
}

.list-form {
  padding: 2.5rem var(--s, 0px);
}

.card-big-title {
  font-size: 1.25rem;
  color: #401E11;
  font-weight: 500;
}

.font-grey-title {
  font-size: 1rem;
  color: #6C7275;
  font-weight: 500;
}

.confirm-list-card {
  gap: 1.5rem;
}

.T-18 {
  font-weight: 400;
  color: #000000;
}

.country-list-gap {
  gap: 24px;
}

.radius-plus-form {
  background-color: #FFE1B8;
}

.img-thumbnail {
  width: 7.5rem;
}

.dollar {
  font-size: 1.25rem;
  font-weight: bold;
}

.extinct-product {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--neutral-03100, #E8ECEF);
}

.text-white {
  color: white;
}

/* Chrome, Safari, Edge, Opera */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-arrows {
  -moz-appearance: textfield;
}

.amount-form {
  width: 100px;
  height: 2.75rem;
  font-size: 20px;
}

.amount-btn-group {
  position: relative;
}

.amount-btn-L {
  width: 40px;
  height: 100%;
  border: radius 100%;
  border: none;
  position: absolute;
  left: 0px;
}

.amount-btn-R {
  width: 40px;
  height: 100%;
  border: radius 100%;
  border: none;
  position: absolute;
  right: 0px;
}

.btn-X {
  width: 40px;
  height: 100%;
  border: radius 100%;
  border: none;
}

.cart-select-all {
  width: 25px;
  height: 25px;
  margin: 25px;
}

.cart-select {
  width: 25px;
  height: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 45px;
}

h5 {
  margin: 0;
}

.to-middle {
  margin-top: 23px;
}

.to-middle-cart {
  width: 120px;
  height: 25px;
  padding-top: 23px;
}

.to-middle-title {
  padding-top: 23px;
}

.w-120-120 {
  height: 75px;
  width: 120px;
  padding-top: 23px;
}

.cart-area {
  margin-bottom: 30px;
}

.total-card {
  background-color: #FFB44F;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.only-cart-padding {
  padding-left: 130px;
  padding-right: 130px;
}

/* 表單設置被選擇的細項 */
select {
  color: #5b5959;
  width: 180px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  padding-left: 10px;
  border: 1px solid #FFB44F;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 0.45rem 0.8rem;
}

option {
  width: 280px;
  border: 1px solid #FFB44F;
  color: #000000;
}

option:checked {
  background-color: #f7bcc5; /* 設置被選擇的選項背景色 */
}

select:hover, input:hover {
  border-color: #a4c6e9; /* 設置滑鼠懸停時的邊框顏色 */
}

select:focus {
  outline: none;
}

option:hover {
  border-color: #a4c6e9; /* 設置滑鼠懸停時的邊框顏色 */
}

.zip-css {
  color: #5b5959;
  width: 180px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  padding-left: 10px;
  border: 1px solid #FFB44F;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 0.45rem 0.8rem;
}

option {
  border: 1px solid #ccc; /* 修改边框颜色 */
  border-radius: 5px; /* 修改圆角 */
}

.rounded-5 {
  border: 1px solid #FFB44F;
}

.add {
  display: flex;
  flex-direction: column;
}

.add-gap {
  gap: 0.5rem;
}

.add-box {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.underline {
  border-bottom: 1px solid #d5d9dc;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 1rem;
  border-radius: 0;
}

.a-link {
  text-decoration: none;
  color: #000000;
}

.a-link:hover {
  color: #a4c6e9;
}

.underline-w {
  border-bottom: 1px solid wheat;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 1rem;
  border-radius: 0;
}/*# sourceMappingURL=cart.css.map */