//favorite/index.js頁面
.pro-btn {
  &:hover {
  color: #ffffff; /*  hover 時的顏色 */
}
}
.btn.pro-shadow {
  box-shadow: none
}
///member/register-all/sub-pages/step1.js錯誤訊息欄位格式
.error-input{
  border: #ffffff;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.success-message {
  color: rgb(69, 188, 85);
  font-size: 12px;
  margin-top: 5px;
}